@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root{
    --Mgreen: rgb(67,197,49);
    --Mgray: rgb(182,182,176);
    --Mbg: rgb(23,23,23);
}

body{
    background-color: black;
}

h1{
    font-family: teko-sansserif;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 8rem;
}

p, h2{
    font-family: proxime-nova;
    color: var(--Mgray);
    font-weight: normal;
}

p{
    font-size: 1rem;
}

h2{
    text-align: center;
    margin: 20px;
}

.bold{
    font-weight: bold;
}

.content{
    background-color: var(--Mbg);
    padding: 20px;
}

footer{
    margin: 20px;
}

h3{
    color: white;
}