:root {
    --height_card_img: 300px;
    
}

.title {
    text-align: center;
}

.card {
    max-height: fit-content;
    max-width: 200px;

    img {
        object-fit: cover;
        max-height: var(--height_card_img);
        height: var(--height_card_img);
        width: auto;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.row .card:first-child {
    img {
        object-fit: scale-down
    }
}
